In [1]:
# numpy and pandas are fundamental data processing libraries for Python
import numpy as np
import pandas as pd

# this line tells the notebook to display all numbers with 2 floating decimal places and commas separating thousands
pd.options.display.float_format = '{:,.2f}'.format

# matplotlib is a data visualization library for Python
import matplotlib.pyplot as plt

# these lines tell the notebook to show you the visualizations within the notebook using the "Seaborn" style
# https://seaborn.pydata.org/
%matplotlib inline
plt.style.use('seaborn-notebook')
plt.rcParams['figure.figsize'] = [12, 6]

# this line will let the notebook show you images
from IPython.display import Image

In [2]:
# modify the years in this list to reflect the entirety of your data and run this cell to store the values
years = ["2012", "2013", "2014", "2016"] # edit this
# this cell creates a Benchmark object that will perform the visualizations inline
from ffequity.processors.benchmark import Benchmark
benchmark = Benchmark(years)

In [ ]:
# run this code cell to begin matching and assessing fossil fuel investments!
# i expect this cell to match carbon companies to stock equity and write out those company names
%run ./ffequity/ffequity.py

In [3]:
# benchmark will now do the aggregate tables and visualizations on the equity portion of the data
data = benchmark.get_equity_tables()
benchmark.company_names()

2012
You owned investments in 7 fossil fuel companies:
Coal India, ConocoPhillips, CONSOL Energy, SunCoke Energy, Cloud Peak Energy, ENI, Royal Dutch Shell

2013
You owned investments in 6 fossil fuel companies:
Coal India, ConocoPhillips, CONSOL Energy, ENI, Royal Dutch Shell, Foresight Energy

2014
You owned investments in 7 fossil fuel companies:
BP, Coal India, ConocoPhillips, CONSOL Energy, ENI, Royal Dutch Shell, Foresight Energy

2016
You owned investments in 5 fossil fuel companies:
BP, CONSOL Energy, Royal Dutch Shell, Arch Coal, Foresight Energy

In [4]:
# benchmark will now show an aggregate equity table, duplicate companies will need to be accounted for 
#this code cell aggregates equity and reserves by fuel type by year
aggregateTable = benchmark.aggregate_equity_table()
aggregateTable

,Fossil Fuel Equity,Total Individual Equity,Coal Equity,Oil Equity,Gas Equity
Year,,,,,
2012,"74,142,802.00","2,607,380,240.00","27,185,509.00","25,802,252.83","21,155,040.17"
2013,"69,930,824.00","2,626,738,693.00","22,034,387.00","26,318,296.83","21,578,140.17"
2014,"84,950,971.00","2,667,326,914.00","21,747,938.00","37,923,096.67","25,279,936.33"
2016,"64,605,098.00","2,579,529,935.00","20,878,019.00","24,225,371.95","19,501,707.05"

In [ ]:
# total dollars invested in fossil fuels
# run this cell to see the total amount of investments in fossil fuel companies
benchmark.plot_fossil_fuel_equity()

In [ ]:
# now the user will manually input the market caps
# then will run this code cell to do the fair share allocation
# i expect this cell to match financial rows to the master df and run the analysis
%run ./ffequity/fairshare.py